In [ ]:
import pandas as pd
from sklearn.impute import SimpleImputer

In [ ]:
df = pd.read_csv("Copy of titanic.csv")

In [ ]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
#Porcentaje de vacíos por columna
df.isnull().sum() / df.shape[0]

PassengerId    0.000000
Survived       0.000000
Pclass         0.000000
Name           0.000000
Sex            0.000000
Age            0.198653
SibSp          0.000000
Parch          0.000000
Ticket         0.000000
Fare           0.000000
Cabin          0.771044
Embarked       0.002245
dtype: float64

## Eliminación

In [ ]:
#Frecuecia de valores para la columna Cabin
df['Cabin'].value_counts()

B96 B98        4
G6             4
C23 C25 C27    4
D              3
C22 C26        3
              ..
E58            1
C148           1
C103           1
C45            1
B42            1
Name: Cabin, Length: 147, dtype: int64

In [ ]:
df.drop(columns = ["Cabin"], inplace = True)

## Imputación

### Imputación de media

In [ ]:
df = pd.read_csv("Copy of titanic.csv")

In [ ]:
#Se instancia el método SimpleImputer en un objeto con el parámetro promedio
im = SimpleImputer(fill_value="mean")

In [ ]:
#Ajusta los valores nulos de la columna
df["Age_im_sk"] = im.fit_transform(df[["Age"]])

In [ ]:
df["Age_im_sk"]

0      22.000000
1      38.000000
2      26.000000
3      35.000000
4      35.000000
         ...
886    27.000000
887    19.000000
888    29.699118
889    26.000000
890    32.000000
Name: Age_im_sk, Length: 891, dtype: float64

In [ ]:
#Otro método
df["Age_im_pd"] = df["Age"].fillna(df["Age"].mean())

In [ ]:
df[["Age", "Age_im_sk", "Age_im_pd"]]

      Age  Age_im_sk  Age_im_pd
0    22.0  22.000000  22.000000
1    38.0  38.000000  38.000000
2    26.0  26.000000  26.000000
3    35.0  35.000000  35.000000
4    35.0  35.000000  35.000000
..    ...        ...        ...
886  27.0  27.000000  27.000000
887  19.0  19.000000  19.000000
888   NaN  29.699118  29.699118
889  26.0  26.000000  26.000000
890  32.0  32.000000  32.000000

[891 rows x 3 columns]

### Imputación de mediana

In [ ]:
df = pd.read_csv("Copy of titanic.csv")

In [ ]:
im = SimpleImputer(fill_value="median")

In [ ]:
df["Age_im_sk"] = im.fit_transform(df[["Age"]])

In [ ]:
df["Age_im_pd"] = df["Age"].fillna(df["Age"].median())

In [ ]:
df[["Age", "Age_im_sk", "Age_im_pd"]]

      Age  Age_im_sk  Age_im_pd
0    22.0  22.000000       22.0
1    38.0  38.000000       38.0
2    26.0  26.000000       26.0
3    35.0  35.000000       35.0
4    35.0  35.000000       35.0
..    ...        ...        ...
886  27.0  27.000000       27.0
887  19.0  19.000000       19.0
888   NaN  29.699118       28.0
889  26.0  26.000000       26.0
890  32.0  32.000000       32.0

[891 rows x 3 columns]

### Imputación de moda

In [ ]:
df = pd.read_csv("Copy of titanic.csv")

In [ ]:
im = SimpleImputer(fill_value="most_frequent")

In [ ]:
df["Age_im_sk"] = im.fit_transform(df[["Age"]])

In [ ]:
df["Age_im_pd"] = df["Age"].fillna(df["Age"].mode()[0])

In [ ]:
df[["Age", "Age_im_sk", "Age_im_pd"]]

      Age  Age_im_sk  Age_im_pd
0    22.0  22.000000       22.0
1    38.0  38.000000       38.0
2    26.0  26.000000       26.0
3    35.0  35.000000       35.0
4    35.0  35.000000       35.0
..    ...        ...        ...
886  27.0  27.000000       27.0
887  19.0  19.000000       19.0
888   NaN  29.699118       24.0
889  26.0  26.000000       26.0
890  32.0  32.000000       32.0

[891 rows x 3 columns]

## Variables discretas

In [ ]:
df['Embarked'].value_counts(1,dropna=False)

S      0.722783
C      0.188552
Q      0.086420
NaN    0.002245
Name: Embarked, dtype: float64

In [ ]:
df["Embarked_im"] = df["Embarked"].fillna("Missing")

In [ ]:
df['Embarked_im'].value_counts()

S          644
C          168
Q           77
Missing      2
Name: Embarked_im, dtype: int64

In [ ]:
#También funciona la moda para columnas categóricas
df["Embarked_pd"] = df["Embarked"].fillna(df["Embarked"].mode()[0])

In [ ]:
df["Embarked"].mode()[0]

'S'

In [ ]:
df["Embarked"].value_counts()

S    644
C    168
Q     77
Name: Embarked, dtype: int64

In [ ]:
df["Embarked_im"].value_counts()

S          644
C          168
Q           77
Missing      2
Name: Embarked_im, dtype: int64

In [ ]:
df["Embarked_pd"].value_counts()

S    646
C    168
Q     77
Name: Embarked_pd, dtype: int64

In [ ]:
df['Age'].fillna(89,)

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888    89.0
889    26.0
890    32.0
Name: Age, Length: 891, dtype: float64